@using Hotel_NotFarOff.Models.Entities
@using Hotel_NotFarOff.ViewModels
@model GuestBookingViewModel
<div class="col-lg-8" id="booking-confirm">
    <div class="booking-confirm-form">
        <div id="booking-confirm-row-cell">
            <p>заезд</p>
            <h4>@Model.BookingData.CheckIn.ToLongDateString()</h4>
            <h4>14:00</h4>
        </div>

        <div id="booking-confirm-row-cell2">
            <p>взрослых: @Model.BookingData.AdultCount</p>
            <p>детей: @Model.BookingData.ChildCount</p>
            <p>@Model.DisplayNights</p>
        </div>

        <div id="booking-confirm-row-cell3">
            <p>выезд</p>
            <h4>@Model.BookingData.CheckOut.ToLongDateString()</h4>
            <h4>12:00</h4>
        </div>
    </div>

    <hr />

    <div id="booking-confirm-room">
        <h5>@Model.RoomCategory.Title</h5>
        <h4 style="right:0">@Model.TotalPrice.ToString("0.00") ₽</h4>
    </div>

    <hr />

    <div id="booking-confirm-info">
        <h6><b>Гарантия бронирования:</b></h6>
        <p>
            Для подтверждения бронирования необходимо произвести оплату @((Model.TotalPrice * 30 / 100).ToString("0.00")) ₽<br />
            1) Для подтверждения бронирования при необходимо внести предоплату в размере 30 %<br />
            от стоимости бронирования по номеру карты: Сбербанк 8356987345867631<br />
            Получатель Олег Станиславович М.<br />
            2) Необходима оплата депозита в день заезда в размере:<br />
            - Двухуровневые апартаменты - 10000<br />
            - Апартаменты-студия площадью 40 квм - 7000<br />
            - Апартаменты-студия площадью 20 квм - 5000<br />
            Депозит возвращается после выезда и проведения инвентаризации при условии<br />
            не нанесенного ущерба имуществу. Сроки возврата депозита от 1 до 3х рабочих<br />
            дней.
        </p>

        <h6><b>Отмена бронирования:</b></h6>
        <p>
            В случае отмены Заказа (Бронирования) менее, чем за 45 дней до даты заезда, а<br />
            также в случае досрочного выезда из апартаментов, не заезда в апартаменты по <br />
            забронированному заказу или аннулирования Заказа после наступившей даты <br />
            заезда, денежные средства возврату не подлежат (п. 6.5 Договор-Оферта)
        </p>
    </div>
</div>

<div class="col-lg-4">
    <div id="booking-confirm">
        <h4>Контактная информация</h4>
        <br />
        <div id="booking-contact-info">
            <form method="post" data-ajax="true" data-ajax-method="post" data-ajax-complete="completed" data-ajax-url="/Booking/Create">
                <div>
                    <label asp-for="TenantFullName">*ФИО заказчика:</label>
                    <input type="text" name="TenantFullName" asp-for="TenantFullName">
                    <span class="text-danger field-validation-valid" asp-validation-for="TenantFullName" />

                </div>
                <div>
                    <label asp-for="TenantPhone">*Телефон заказчика:</label>
                    <input name="TenantPhone" type="tel" asp-for="TenantPhone">
                    <span class="text-danger field-validation-valid" asp-validation-for="TenantPhone" />
                </div>
                <div>
                    <label asp-for="TenantEmail">*Email заказчика:</label>
                    <input name="TenantEmail" type="text" asp-for="TenantEmail">
                    <span class="text-danger field-validation-valid" asp-validation-for="TenantEmail" />
                    <hr />
                </div>

                @for (int i = 0; i < @Model.BookingData.AdultCount + @Model.BookingData.ChildCount; i++)
                {
                    <div>
                        <label for="guest_@(i+1)">*ФИО @(i+1) гостя:</label>
                        <input asp-for="Guests[i].FullName" id="guest_@(i+1)" type="text">
                        <span class="text-danger field-validation-valid" asp-validation-for="Guests[i].FullName" />
                    </div>
                }

                <hr />
                <div class="select-option">
                    <label asp-for="SelectedPaymentMethodId">Способ оплаты:  </label>
                    <select id="guest" asp-for="SelectedPaymentMethodId" asp-items="@(new SelectList(Model.PaymentMethods, nameof(PaymentMethod.Id), nameof(PaymentMethod.Title)))">
                    </select>
                </div>
                <input type="hidden" asp-for="BookingData.AdultCount" />
                <input type="hidden" asp-for="BookingData.CheckIn" />
                <input type="hidden" asp-for="BookingData.CheckOut" />
                <input type="hidden" asp-for="BookingData.RoomCategoryId" />
                <input type="hidden" asp-for="BookingData.ChildCount" />
                <button type="submit" onclick="CreatedBooking()">Забронировать</button>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
@*<script src="~/js/booking.js"></script>*@
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
