@using Hotel_NotFarOff.TagHelpersExtentions
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Не за горами</title>
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/css/flaticon.css" type="text/css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css" />
    <link rel="stylesheet" href="~/css/jquery-ui.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" type="text/css" />
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="@Html.IsActive("Home", "Index")"><a href="@Url.Action("Index", "Home")">Главная</a></li>
                <li class="@Html.IsActive("Rooms", "List")"><a href="@Url.Action("List", "Rooms")">Номера</a></li>
                <li class="@Html.IsActive("Home", "AboutUs")"><a href="@Url.Action("AboutUs", "Home")">О нас</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> 78545469485</li>
            <li><i class="fa fa-envelope"></i> someemail@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="@Url.Action("Index", "Home")">
                                <img src="@Url.Content("~/img/logo1.png")" width="300" height="45">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul id="menu">
                                    <li class="@Html.IsActive("Home", "Index")"><a href="@Url.Action("Index", "Home")">Главная</a></li>
                                    <li class="@Html.IsActive("Rooms", "List")"><a href="@Url.Action("List", "Rooms")">Номера</a></li>
                                    <li class="@Html.IsActive("Home", "AboutUs")"><a href="@Url.Action("AboutUs", "Home")">О нас</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="~/img/footer_logo.png" alt="">
                                </a>
                            </div>
                            <p>Мы вдохновляем и охватываем миллионы путешественников<br /> на 90 местных веб-сайтах</p>
                            <div class="fa-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-tripadvisor"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Политика безопасности</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/datepicker_ru.js"></script>
  @*  <script type="text/javascript">
        //@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
        //{
        //    <text>
        //    $(document).ready(function() {
        //        alert('@ViewData.ModelState["Error"].Errors.First().ErrorMessage.ToString()');
        //    });
        //    </text>
        //}
    </script>*@
    @await RenderSectionAsync("Booking", required: false)
    @await RenderSectionAsync("DatePickers", required: false)

</body>
</html>
