@using Hotel_NotFarOff.Models.Entities
@using Hotel_NotFarOff.TagHelpersExtentions
@using Hotel_NotFarOff.ViewModels
@model RoomCategoryViewModel

@{
    ViewData["Title"] = "Подробнее о комнате";
}

<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>@Model.RoomCategory.Title</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img src="@Url.Action("GetFileFromBytes", "RoomCategories", new { id = @Model.RoomCategory.Id})" alt="">
                    <div id="gallery">
                        @for (int i = 1; i <= 3; i++)
                        {
                            <img src="@Url.Action("GetRoomImage", "RoomCategories", new { id = @Model.RoomCategory.Id, imageNumber = i})" tabindex="0" alt="">
                        }
                    </div>
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3>@Html.DisplayFor(model => model.RoomCategory.Title)</h3>
                        </div>
                        <h2>@Html.DisplayFor(model => model.PricePerDayString)<span>/За ночь</span></h2>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Прощадь:</td>
                                    <td>@Html.DisplayFor(model => model.RoomCategory.RoomSize)</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Вместимость:</td>
                                    <td>Максимум человек @Html.DisplayFor(model => model.RoomCategory.NumbeOfSeats)</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Сервисы:</td>
                                    <td>@Html.DisplayFor(model => model.RoomCategory.Services)</td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="f-para">
                            @Html.DisplayFor(model => model.RoomCategory.Description)
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                @{
                    await Html.RenderPartialAsync("_BookingForm", new BookingData(DateTime.Today, DateTime.Today.AddDays(1), 1, 0, Model.RoomCategoryId));
                }
            </div>
        </div>
        <div>
            <a href="javascript:history.go(-1)" class="primary-btn">Назад к списку номеров</a>
        </div>
    </div>

</section>

@section DatePickers
    {
    <script src="@Url.Content("~/js/datepickerInit.js")"></script>
}
